{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'func/modals.html' %}

<div class="container">
    {% include 'func/messages.html' %}
    <div class="jumbotron">
        <h1 class="display-3">{% trans "Account Inactive" %}</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>{% trans "This account is inactive." %}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Signup</a>
        </p>
    </div>
</div>
{% endblock %}