{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'func/modals.html' %}
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto custom-h3">
        {% include 'func/messages.html' %}
        <div class="card border-0 shadow bg-dark mb-5">
            <div class="card-body ml-4 mr-4">
                <h2>{% trans "Account Inactive" %}</h2>
                <p class="lead"></p>
                <hr class="my-4">
                <div class="custom-login-box mt-4">
                    {% trans "This account is inactive." %}
                </div>
                <a class="btn btn-primary btn-lg btn-block mt-5 mb-3" href="{% url 'account_signup' %}"
                    role="button">Signup</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}