{% extends "account/base.html" %}

{% load static i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% include 'func/modals.html' %}
<div class="container">
  <div class="col-lg-6 col-md-6 mx-auto custom-h3">
    {% include 'func/messages.html' %}
    <div class="card border-0 shadow bg-dark mb-5">



      <div class="card-body ml-4 mr-4">

        <h3>{% trans "Sign In" %}</h3>




        <form class="form-group mt-4 form-group-login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-success btn-lg btn-block mt-3" type="submit">{% trans "Sign In" %}</button>
        </form>
        <div class="custom-login-box">
          Or Login With
        </div>
        <a href="/accounts/google/login/?process=login" type="button" class="btn btn-info btn-google btn-lg btn-block">
          <img src="{% static 'icons/32px-Google__G__Logo.svg.png' %}" alt="">
          &nbsp;Google</a>
        <div class="custom-login-box mb-1">
          <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}