{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}
{% include 'func/modals.html' %}
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto custom-h3">
        {% include 'func/messages.html' %}
        <div class="card border-0 shadow bg-dark mb-5">
            <div class="card-body ml-4 mr-4">
                <h2>{% trans "Password Reset" %}</h2>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div class="custom-login-box mb-3 mt-4">
                    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a
                    few
                    minutes.{% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}