{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}
{% block content %}
{% include 'func/modals.html' %}
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto custom-h3">
        {% include 'func/messages.html' %}
        <div class="card border-0 shadow bg-dark mb-5">
            <div class="card-body ml-4 mr-4">
                <h2>{% trans "Sign Up Closed" %}</h2>
                <div class="custom-login-box mb-3 mt-4">
                    {% trans "We are sorry, but the sign up is currently closed." %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}