<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action=".">

        {% csrf_token %}
        {{ testform }}
        <button type=" submit">Submit</button>
    </form>
    <br>
    <br>
    <br>
    {% for img in testimg %}
    {{ img }}<br>
    <img src="{{ img.img.url }}" alt=""><br>
    {% endfor %}
</body>

</html>