{% extends 'base.html' %}

{% block head_title %}
Jobber
{% endblock head_title %}
{% block content %}
{{ editjobb.media }}
{% load crispy_forms_tags %}
{% load customtags %}
{% include 'func/modals.html' %}


<div class="container">
    {% include 'func/messages.html' %}
    <div class="jumbotron">

        <div class="d-flex justify-content-between ">
            <div class="p-2">
                <h2 class="jumbotron">{{ jobb|title }}</h2>
            </div>

            <div class="p-2">
                <h3>{{ jobb.ordre_nr }}</h3>
            </div>
            <div class="p-2"><a class="btn btn-success btn-small" href="{% url 'timeliste' %}" role="button">+
                    Timer</a></div>
            <div class="p-2">

                <a class="btn btn-info btn-small" href="{% url 'jobb-matriell' jobb.ordre_nr %}" role="button">+/-
                    Matriell</a>

            </div>
        </div>
        <a href="{% url 'delete_jobber' jobb.ordre_nr %}" class="confirm-delete" data-toggle="modal"
            data-target="#confirmTimerDeleteModal" id="deleteButton{{jobb.ordre_nr}}">
            <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a>

        <div class="d-flex justify-content-between">
            <div class="p-2">
                <p><img src="{{ jobb.profile_picture.url }}" alt=""></p>
                <p>Adresse: {{ jobb.adresse }}</p>
                <p>Telefon nr: {{ jobb.telefon_nr }}</p>
                <p>beskrivelse: {{ jobb.beskrivelse }}</p>
                <p>Legg til bilder:
                    <form method="POST" action=".">

                </p>
            </div>
            <div class="p-2">
                <div class="d-flex flex-column justify-content-end ">
                    <div class="p-2 custom-card">

                        <h3>Timer på jobben:</h3>

                        <table class="table table-striped table-borderless">
                            <thead class="thead-postman">
                                <tr>
                                    <th scope="col">Brukernavn</th>
                                    <th scope="col">Timer</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% regroup timer by user.username as username_list %}
                                    {% for username in username_list %}
                                    <td>
                                        {{ username.grouper|title }}
                                    </td>
                                    {% for user in username.list %}
                                    {% endfor %}
                                    <td>
                                        {{ username.list | running_total }}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>Totalt</td>
                                    <td>
                                        {{ total_timer_jobb.timer__sum }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="p-2 custom-card">

                        <h3>Matriell på jobben:</h3>

                        <table class="table table-striped table-borderless">
                            <thead class="thead-postman">
                                <tr>
                                    <th scope="col">Navn</th>
                                    <th scope="col">Antall</th>
                                    <th scope="col">Slett</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for mat in jobb.matriell.all %}
                                {% if not mat.transf %}
                                <tr>
                                    <td>{{ mat }}</td>
                                    <td><b>{{ mat.antall }}</b></td>
                                    <td><a
                                            href="{% url 'transf-matriell' object_id=mat.matriell.pk jobb_id=jobb.pk transf=50 %}"><span
                                                class="badge badge-warning">Overfør</span></a></td>

                                </tr>
                                {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>



                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="p-2"><a class="btn btn-primary btn-sm" href="#" role="button">Overført Matriell</a></div>
            <div class="p-2">Bilder fra jobben:<br>
                {% for img in image %}
                <p>{{ img.image.url }}</p>
                {% endfor %}
            </div>
            <div class="p-2"></div>
        </div>

    </div>



    <div class="jumbotron">

        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h2 class="card-body">Edit Jobb</h2>
            </div>
            <div class="p-2"></div>
            <div class="p-2">
                <h3>{{ jobb.ordre_nr }}</h3>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" action=".">

            {% csrf_token %}
            {{ editjobb|crispy }}
            <button type=" submit" class="btn btn-primary button-main">Submit</button>
        </form>
    </div>


</div>



{% endblock content %}