{% extends 'base.html' %}

{% block head_title %}
Jobber
{% endblock head_title %}
{% block content %}
{{ jobbform.media }}
{% load crispy_forms_tags %}
{% include 'func/modals.html' %}


<div class="col-lg-8">
    {% include 'func/messages.html' %}
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <h2 class="card-body">Jobber</h2>
                </div>
                <div class="p-2"></div>
                <div class="p-2"></div>
            </div>

            <table class="table table-striped table-borderless">
                <thead class="thead-custom">
                    <tr>
                        <th scope="col">Ordre</th>
                        <th scope="col">Tittel</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Telefon</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    {% for jobber in most_recent %}

                    <tr>
                        <th scope="row">{{ jobber.ordre_nr }}</th>

                        <td><a href="{% url 'jobbdetail' object_id=jobber.ordre_nr %}">{{ jobber }}</a></td>

                        <td>{{ jobber.adresse }}</td>
                        <td>{{ jobber.telefon_nr }}</td>
                        <td><a href="{% url 'delete_jobber' jobber.ordre_nr %}" class="confirm-delete"
                                data-toggle="modal" data-target="#confirmTimerDeleteModal"
                                id="deleteButton{{jobber.ordre_nr}}">
                                <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a>
                        </td>

                    </tr>
                    </a>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- ###### sidebar ##### -->
<div class="col-lg-4">
    <!-- ### Sidebox ### -->
    <div class="card border-0 shadow mb-4 d-none d-lg-block">
        <div class="card-body">
            <div class="form-group">
                <h2>Fyll inn ny jobb:
                </h2>
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ jobbform|crispy }}
                    <button type="submit" class="btn btn-primary button-card">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}