            {% load crispy_forms_tags %}
            <div class="card border-0 shadow mb-4 d-none d-lg-block">
                <div class="card-body">
                    <h4>Opprett ny jobb:
                    </h4>
                    <form method="POST" action=".">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ globaljobberform|crispy }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>