{% extends 'base.html' %}

{% block head_title %}
Timeliste denne måned
{% endblock head_title %}
{% block content %}
{{ timeform.media }}
{% load crispy_forms_tags %}
{% include 'func/modals.html' %}
<!-- ###### sidebar ##### -->
<div class></div>

<div class="col-lg-4">
    {% include 'func/messages.html' %}
    <!-- ### Sidebox ### -->
    <div class="card border-0 shadow bg-dark mb-4 d-lg-block">
        <div class="card-body">
            <div class="form-group">
                <h2>Skriv Timer for<br>{% include 'func/name.html' %}:
                </h2>
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ timeform|crispy }}
                    <button type="submit" class="btn btn-primary button-card">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8">

    <div class="card border-0 shadow bg-dark mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <h2 class="card-body">Timer for {% now 'F Y' %}</h2>
                </div>
                <div class="p-2">
                </div>
                <div class="p-2">
                    <h3>
                        {% include 'func/name.html' %}
                    </h3>
                </div>
            </div>
            <div class="custom-card">
                <table class="table table-striped table-borderless">
                    <thead class="thead-postman">
                        <tr>
                            <th scope="col">Dato</th>
                            <th scope="col">Sted</th>
                            <th scope="col">Timer</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timer in this_month_timer %}
                        <tr>
                            <th scope="row">{{ timer.dato }}</th>
                            <td><a href="{% url 'jobbdetail' jobb_id=timer.jobb.ordre_nr %}">{{ timer }}</a></td>
                            <td>{{ timer.timer }}</td>
                            <td><a href="{% url 'delete_timer' timer.id %}" class="confirm-delete" data-toggle="modal"
                                    data-target="#confirmTimerDeleteModal" id="deleteButton{{timer.id}}">
                                    <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">Totalt</th>
                            <td></td>
                            <td>{{ total_timer.timer__sum }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}