{% extends "base.html" %}
{% load i18n static %}{% load postman_tags %}

{% block extrahead %}{{ block.super }}

{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% include 'func/messages.html' %}
    <div class="jumbotron">
        <h2 class="jumbotron">{% block pm_write_title %}{% endblock %}</h2>
        <div class="d-flex justify-content-between">
            <div class="p-2">
                {% include 'postman/post.html' %}
            </div>
            <div class="p-2 p2-custom">

                <form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
                    <table>
                        {% block pm_write_recipient %}{% endblock %}
                        {{ form|crispy }}
                    </table><br>
                    <button type="submit" class="btn btn-success">{% trans "Send" %}</button>
                </form>

            </div>
            <div class="p-2"></div>
        </div>
    </div>
    {% endblock %}