  <footer class="custom-h2">
      <div class="bsa-ad mt-5">
          <div class="container text-center">

              <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                      <div class="bsa-cpc">
                          <div class="default-text">
                              <h2 class="custom-h2">Weather in {{ weather.city|title }}</h2>
                              <div class="card border-0 shadow bg-dark custom-card mb-2">
                                  <div class="card-body">

                                      <center>
                                          <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png">
                                          <b> {{ weather.temp|floatformat:1 }} &deg;c</b>
                                          <p class="card-text"><b>{{ weather.description|title }}</b></p>
                                      </center>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-social my-5">
          <div class="container">
              <div class="d-flex justify-content-center">
                  <a href="#top"> Back to the top</a>
              </div>
          </div>
      </div>
      <div class="footer-main bg-dark py-5">
          <div class="container">
              Made By<a href="#"> Tomas Hoff</a>
              <br>
              <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
                      href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
                      href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
          </div>
      </div>
  </footer>