  <footer>
      <div class="bsa-ad mt-5">
          <div class="container text-center">
              <p class="lead">And now, a word from our sponsors...</p>
              <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                      <div class="bsa-cpc">
                          <div class="default-text">
                              <span class="default-title">Lorem ipsum 50</span>
                              <span class="default-description">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-social my-5">
          <div class="container">
              <div class="d-flex justify-content-center">
                  <a href="#top"> Back to the top</a>
              </div>
          </div>
      </div>
      <div class="footer-main bg-dark py-5">
          <div class="container">
              Made By<a href="#"> Tomas Hoff</a>
              <br>
              <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
                      href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
                      href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
          </div>
      </div>
  </footer>