  <footer class="custom-h3">

      <div class="container">


          <div class="col-lg-6 col-md-6 mx-auto">



              <div class="card border-0 shadow bg-dark mb-2">
                  <div class="card-body">
                      <h3 class="custom-h3">Weather in {{ weather.city|title }}</h3>
                      <center>
                          <img src="https://openweathermap.org/img/w/{{ weather.icon }}.png">
                          <b> {{ weather.temp|floatformat:1 }} &deg;c</b>
                          <p class="card-text"><b>{{ weather.description|title }}</b></p>
                      </center>
                  </div>
              </div>



          </div>

      </div>
      <div class="footer-social my-5">
          <div class="container">
              <div class="d-flex justify-content-center">
                  <a href="#top"> Back to the top</a>
              </div>
          </div>
      </div>
      <div class="footer-main bg-dark py-5">
          <div class="container">
              Made By<a href="#"> Tomas Hoff</a>
              <br>
              <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a
                      href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
                      href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
          </div>
      </div>
  </footer>