    {% load i18n %}
    {% load account socialaccount %}
    {% load static %}
    {% load i18n static %}
    {% load postman_tags %}
    {% load crispy_forms_tags %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'root' %}">
                <img src="{% static 'icons/nxfs-logo.png' %}" width="50" alt="">
            </a>
            <ul class="navbar-nav mr-auto">
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-tools"></i> Admin</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jobb
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'timeliste' %}">Timeliste</a>
                        <a class="dropdown-item" href="{% url 'timerlastmonth' %}">Timeliste Forje Måned</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'jobblist' %}">Jobb Liste</a>
                        <a class="dropdown-item" href="{% url 'matriell-list' %}">Matriell liste</a>
                        <a class="dropdown-item" href="{% url 'leverandor-list' %}">leveranør-liste</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <!-- ###### Right Side ##### -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                {% postman_unread as unread_count %}
                {% if unread_count %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'postman:inbox' %}">
                        <i class="fas fa-envelope"></i>&nbsp;&nbsp;{% trans "Inbox" %}
                        <strong>({{ unread_count }})</strong></i>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        {% include 'func/name.html' %}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-tools"></i> Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'root' %}">Root</a>
                        <a class="dropdown-item" href="{% url 'postman:inbox' %}">
                            <i class="fas fa-envelope"></i>&nbsp;&nbsp;{% trans "Inbox" %}
                            {% if unread_count %}
                            <strong>({{ unread_count }})</strong></i>
                            {% endif %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-cog"></i> Profile</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i>
                            logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">
                        <i class="fas fa-user-plus"></i> Sign Up </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                    <form class="dropdown-menu p-3 dropdown-menu-right dropdown-login" method="POST"
                        action="{% url 'account_login' %}">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ navbarloginform|crispy }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                            <button type="button" class="btn btn-secondary float-right"><i
                                    class="fab fa-github pr-2"></i>
                                github</small></button>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>