    {% load i18n %}
    {% load account socialaccount %}
    {% load static %}
    {% load i18n static %}
    {% load postman_tags %}
    {% load crispy_forms_tags %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'root' %}">
                <img src="{% static 'icons/nxfs-logo.png' %}" width="50" alt="">
            </a>
            <ul class="navbar-nav mr-auto">
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-tools"></i> Admin</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plug"></i> Jobb
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'timeliste' %}"><i class="far fa-file"></i> Timeliste
                            denne måned</a>
                        <a class="dropdown-item" href="{% url 'timerlastmonth' %}"><i class="far fa-file-alt"></i>
                            Timeliste forje måned</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'jobblist' %}"><i class="far fa-list-alt"></i> Jobb
                            Liste</a>
                        <a class="dropdown-item" href="{% url 'matriell-list' %}"><i class="fas fa-parachute-box"></i>
                            Matriell liste</a>
                        <a class="dropdown-item" href="{% url 'leverandor-list' %}"><i class="fas fa-list"></i>
                            leveranør-liste</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <!-- ###### Right Side ##### -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                {% postman_unread as unread_count %}
                {% if unread_count %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'postman:inbox' %}">
                        <i class="fas fa-envelope"></i>&nbsp;&nbsp;{% trans "Inbox" %}
                        <strong>({{ unread_count }})</strong></i>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        {% include 'func/name.html' %}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-tools"></i> Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'root' %}"><i class="fas fa-home"></i> Home</a>
                        <a class="dropdown-item" href="{% url 'postman:inbox' %}">
                            <i class="fas fa-envelope"></i>&nbsp;&nbsp;{% trans "Inbox" %}
                            {% if unread_count %}
                            <strong>({{ unread_count }})</strong></i>
                            {% endif %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-cog"></i> Profile</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i>
                            logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">
                        <i class="fas fa-user-plus"></i> Sign Up </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                    <form class="dropdown-menu form-group p-3 dropdown-menu-right dropdown-login" method="POST"
                        action="{% url 'account_login' %}">

                        {% csrf_token %}
                        {{ navbarloginform|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-block mt-2 mb-2">{% trans "Login" %}</button>

                        <center><b>Or signin With</b></center>
                        <a href="/accounts/google/login/?process=login" type="button"
                            class="btn btn-info btn-google btn-block mt-2">
                            <img src="{% static 'icons/32px-Google__G__Logo.svg.png' %}" alt="">
                            &nbsp;Google</a>
                        <div class="mt-2 text-center">
                            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>