    {% load i18n %}
    {% load account socialaccount %}
    {% load static %}
    {% load i18n static %}
    {% load postman_tags %}
    {% load crispy_forms_tags %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Nxfs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="#navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">SignUp</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}

                            <a class="dropdown-item" href="{% url 'root' %}">Root</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_login' %}">login</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">logout</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="#">Edit profile</a>
                            <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_change_password' %}">Change PW skdfsakdfj
                                dksjfksdfj ksdjfk
                                sdfjksjd fksdjf ksjdf ksdjfksdjfskjd f</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="#">Profile</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_reset_password' %}">reset password</a>
                    </li>{% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>{% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jobb
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'timeliste' %}">Timeliste</a>
                            <a class="dropdown-item" href="{% url 'timerlastmonth' %}">Timeliste Forje Måned</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'jobblist' %}">Jobb Liste</a>
                            <a class="dropdown-item" href="{% url 'matriell-list' %}">Matriell liste</a>
                            <a class="dropdown-item" href="{% url 'leverandor-list' %}">leveranør-liste</a>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% postman_unread as unread_count %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'postman:inbox' %}">
                        <i class="fas fa-envelope"></i>&nbsp;&nbsp;{% trans "Inbox" %}
                        {% if unread_count %}
                        <strong>({{ unread_count }})</strong></i>
                        {% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-user"></i>
                        {% include 'func/name.html' %}</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">
                        <i class="fas fa-sign-out-alt"></i> Logout</a></li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">
                        <i class="fas fa-user-plus"></i> Sign Up </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                    <form class="dropdown-menu p-3 dropdown-menu-right dropdown-login" method="POST"
                        action="{% url 'account_login' %}">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ navbarloginform|crispy }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                            <button type="button" class="btn btn-secondary float-right"><i
                                    class="fab fa-github pr-2"></i>
                                github</small></button>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>