{% extends 'base.html' %}
{% block head_title %}
Edit {{ jobb|title }}
{% endblock head_title %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    {% include 'func/messages.html' %}
    <div class="jumbotron">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h2 class="card-body">Edit <a href="{% url 'jobbdetail' jobb_id=jobb.pk %}">{{ jobb|title }}</a></h2>
            </div>
            <div class="p-2"></div>
            <div class="p-2">
                <h3><a href="{% url 'jobbdetail' jobb_id=jobb.pk %}">{{ jobb.ordre_nr }}</a></h3>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            {{ editjobb|crispy }}
            <button type=" submit" class="btn btn-primary button-main">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}