{% extends 'base.html' %}

{% block head_title %}
{{ jobb|title }}
{% endblock head_title %}
{% block content %}
{% load crispy_forms_tags %}
{% load customtags %}
{% include 'func/modals.html' %}
<div class="container">
    {% include 'func/messages.html' %}
    <div class="jumbotron">
        <div class="d-flex justify-content-between ">
            <div class="p-2">
                <h2 class="jumbotron">{{ jobb|title }}</h2>
            </div>
            <div class="p-2">
                <h3>{{ jobb.ordre_nr }}</h3>
            </div>
            <div class="p-2"><a class="btn btn-sm btn-success" href="{% url 'timeliste' %}" role="button"
                    tooltip-toggle="tooltip" title="Legg til timer">Timer</a>
                <a class="btn btn-info btn-sm" href="{% url 'jobb-matriell' jobb.ordre_nr %}" role="button"
                    tooltip-toggle="tooltip" title="Legg til matriell">Matriell</a>
            </div>
        </div>
        <a href="{% url 'delete_jobber' jobb.ordre_nr %}" class="confirm-delete" data-toggle="modal"
            data-target="#confirmTimerDeleteModal" id="deleteButton{{jobb.ordre_nr}}">
            <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a>&ensp;&ensp;
        <a href="{% url 'editjobb' jobb.ordre_nr %}"><i class="fas fa-edit" tooltip-toggle="tooltip"
                title="Edit"></i></a>
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <p><img src="{{ jobb.profile_picture.url }}" alt=""></p>
                <ul class="list-group list-group-custom">
                    <li class="list-group-item list-group-item-custom"><b><u>Adresse:</u></b>
                        <br><a href="http://maps.google.com/maps?q={{ jobb.adresse }}" target="_blank"
                            tooltip-toggle="tooltip" title="Open in Google Maps">{{ jobb.adresse }}</a>
                    </li>
                    <li class="list-group-item list-group-item-custom"><b><u>Telefon nr:</u></b>
                        <br>>{{ jobb.telefon_nr }}
                    </li>
                    {% if jobb.beskrivelse %}
                    <li class="list-group-item list-group-item-custom"><b><u>beskrivelse:</u></b>
                        <br>{{ jobb.beskrivelse }}
                    </li>
                    {% endif %}
                </ul>
            </div>


            <div class="p-2">
                <div class="d-flex flex-column justify-content-end ">
                    {% comment %} Timer på Jobben {% endcomment %}
                    {% if timer %}
                    <div class="p-2 custom-card">
                        <h3>Timer på jobben:</h3>
                        <table class="table table-striped table-borderless">
                            <thead class="thead-postman">
                                <tr>
                                    <th scope="col">Navn</th>
                                    <th scope="col">Timer</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% regroup timer by user.username as username_list %}
                                    {% for username in username_list %}
                                    <td>
                                        {% if username.list.0.user.first_name %}
                                        {{ username.list.0.user.first_name }} {{ username.list.0.user.last_name }}
                                        {% else %}
                                        {{ username.grouper|title }}
                                        {% endif %}
                                    </td>
                                    {% for user in username.list %}

                                    {% endfor %}
                                    <td>
                                        {{ username.list | running_total }}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>Totalt</td>
                                    <td>
                                        {{ total_timer_jobb.timer__sum }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% comment %} Matriell på jobben: {% endcomment %}
                    {% if jobb.matriell.all %}
                    <div class="p-2 custom-card">
                        <h3>Matriell på jobben:</h3>
                        <table class="table table-striped table-borderless">
                            <thead class="thead-postman">
                                <tr>
                                    <th scope="col">Navn</th>
                                    <th scope="col">Antall</th>
                                    <th scope="col">Slett</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mat in jobb.matriell.all %}
                                {% if not mat.transf %}
                                <tr>
                                    <td>{{ mat }}</td>
                                    <td><b>{{ mat.antall }}</b></td>
                                    <td><a href="{% url 'transf-matriell' object_id=mat.matriell.pk jobb_id=jobb.pk transf=50 %}"
                                            tooltip-toggle="tooltip" title="Overfør Matriell"><span
                                                class="badge badge-warning">Overfør</span></a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-start">
            {% if bilder %}
            <div class="p-2">
                <h2>Bilder fra jobben:</h2>
            </div>
            <div class="p-2 list-group-custom list-group-item-custom">
                {% for img in bilder %}
                <img src="{{ img.image.url }}" alt="">&ensp;&ensp;
                {% endfor %}
            </div>
            {% endif %}
            <div class="p-2"><br>
                <h2>Legg til bilder:</h2>
            </div>
            <div class="p-2 list-group-custom list-group-item-custom">
                <form method="POST" enctype="multipart/form-data" action="." class="jobb-bilder">
                    {% csrf_token %}
                    {{ bilderform|crispy }}
                    <button type=" submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}