{% extends 'base.html' %}

{% block head_title %}
leverandor Liste
{% endblock head_title %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'func/modals.html' %}
<!-- ###### sidebar ##### -->
<div class="col-lg-4">
    {% include 'func/messages.html' %}
    <!-- ### Sidebox ### -->
    <div class="card border-0 shadow mb-4 bg-dark d-lg-block">
        <div class="card-body">
            <div class="form-group">
                <h2>Registrer ny leverandør<br>
                </h2>
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ leverandorform|crispy }}
                    <button type="submit" class="btn btn-primary button-card">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-8">

    <div class="card border-0 shadow bg-dark mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <h2 class="card-body">leverandor:</h2>
                </div>
                <div class="p-2"></div>
                <div class="p-2">
                </div>
            </div>
            <div class="custom-card">
                <table class="table table-striped table-borderless">
                    <thead class="thead-custom">
                        <tr>

                            <th scope="col">Navn</th>

                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lev in leverandor %}
                        <tr>

                            <td><a href="#">{{ lev }}</a></td>

                            <td><a href="{% url 'delete_leveranor' lev_id=lev.id %}" class="confirm-delete"
                                    data-toggle="modal" data-target="#confirmTimerDeleteModal"
                                    id="deleteButton{{lev.id}}">
                                    <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}