{% extends 'base.html' %}

{% block head_title %}
Timelister
{% endblock head_title %}
{% block content %}

{% load crispy_forms_tags %}
{% include 'func/modals.html' %}


<div class="col-lg-8">
    {% include 'func/messages.html' %}
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <h2 class="card-body">Matriell:</h2>
                </div>
                <div class="p-2"></div>
                <div class="p-2">
                    <h3>

                    </h3>
                </div>
            </div>

            <table class="table table-striped table-borderless">
                <thead class="thead-custom">
                    <tr>
                        <th scope="col">Elnr</th>
                        <th scope="col">Tittel</th>
                        <th scope="col">Leverandør</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for mat in matriell %}
                    <tr>
                        <th scope="row">{{ mat.el_nr }}</th>
                        <td><a href="{% url 'matriell-detail' object_id=mat.pk %}">{{ mat }}</a></td>
                        <td>{{ mat.leverandor }}</td>
                        <td><a href="{% url 'delete_matriell' object_id=mat.id %}" class="confirm-delete"
                                data-toggle="modal" data-target="#confirmTimerDeleteModal" id="deleteButton{{mat.id}}">
                                <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- ###### sidebar ##### -->
<div class="col-lg-4">
    <!-- ### Sidebox ### -->
    <div class="card border-0 shadow mb-4 d-none d-lg-block">
        <div class="card-body">
            <div class="form-group">
                <h2>Registrer nytt matriell<br>
                </h2>
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ matriellform|crispy }}
                    <button type="submit" class="btn btn-primary button-card">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}