{% extends 'base.html' %}

{% block head_title %}
{{ matriell|title }}
{% endblock head_title %}
{% block content %}
{% load crispy_forms_tags %}
{% load customtags %}
{% include 'func/modals.html' %}
<div class="container">
    {% include 'func/messages.html' %}
    <div class="jumbotron">
        <div class="d-flex justify-content-between ">
            <div class="p-2">
                <h2 class="jumbotron">{{ matriell|title }}</h2>
            </div>
            <div class="p-2">
                <h3>{{ matriell.el_nr }}</h3>
            </div>
            <div class="p-2"><a class="btn btn-sm btn-success" href="#" role="button" tooltip-toggle="tooltip"
                    title="Legg til timer">???</a>

            </div>
        </div>
        <a href="{% url 'delete_matriell' object_id=matriell.id %}" class="confirm-delete" data-toggle="modal"
            data-target="#confirmTimerDeleteModal" id="deleteButton{{mat.id}}">
            <i class="fas fa-trash-alt" tooltip-toggle="tooltip" title="Delete"></i></a>&ensp;&ensp;
        <a href="{% url 'editmatriell' matriell.pk %}"><i class="fas fa-edit" tooltip-toggle="tooltip"
                title="Edit"></i></a>
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <p><img src="{{ matriell.image.url }}" alt=""></p>
                <ul class="list-group list-group-custom">
                    <li class="list-group-item list-group-item-custom"><b><u>Leverandør:</u></b>
                        <br><a href="#">{{ matriell.leverandor }}</a>
                    </li>
                    {% if matriell.info %}
                    <li class="list-group-item list-group-item-custom"><b><u>Info:</u></b>
                        <br>{{ matriell.info }}
                    </li>
                    {% endif %}
                </ul>
            </div>


            <div class="p-2">

            </div>
        </div>


    </div>
</div>
{% endblock content %}